@import "tailwindcss";

:root {
  /* پس‌زمینه سرمه‌ای تیره/آبی شب */
  --background: #090d16;
  /* رنگ متن‌ها (سفید/خاکستری روشن) */
  --foreground: #f3f4f6;
}

@theme inline {
   --animate-marquee: marquee 30s linear infinite;
  --font-sans: var(--font-vazir), system-ui, sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-cyan: #06b6d4;
  /* رنگ فیروزه‌ای (مثلاً برای بوردر یا آیکون) */
  --color-brand-cyan-hover: #0891b2;
  /* حالت هاور فیروزه‌ای */
  --color-brand-blue: #2563eb;
  /* رنگ آبی (مثلاً برای دکمه‌ها) */
  --color-navbar-blue: #0e1626;
  --color-brand-blue-gradient-start: #00d2ff;
  /* شروع گرادیان دکمه */
  --color-brand-blue-gradient-end: #0066ff;
  /* پایان گرادیان دکمه */

  --background-image-brand-blue-gradient: linear-gradient(to left, var(--color-brand-blue-gradient-start), var(--color-brand-blue-gradient-end));

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }
}




.text-gradient {
  background: var(--background-image-brand-blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  /* برای اینکه گرادیانت درست رندر شود */
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}